#botonera1 {
    background-color: white;
    padding: 15px 10px 15px 5px;
    color: rgb(107, 6, 110);
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

#botonera1 li {
    list-style-type: none;
    display: inline-block;
}

#botonera1 li a {
    text-decoration: none;
    margin-left: 20px;
}