#botonera2 {
    color: white;
    font-size: 25px;
    font-style: italic;
    float: left;
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-color: rgb(22, 2, 78);
    background-color: rgb(107, 6, 110);
}

#botonera2 li {
    padding-bottom: 20px;
}

#botonera2 li a {
    text-decoration: none;
}