footer {
    color: white;
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
}

footer {
    background-image: linear-gradient(rgb(15, 1, 73), rgb(107, 6, 110));
    clear: both;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    color: white;
}

@keyframes textAlpha {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer {
    animation-name: textAlpha;
    animation-duration: 3s;
}

.iconowp img {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    background-size: cover;
    background-position: center;
    position: fixed;
    bottom: 10px;
    right: 80px;
}

h3 {
    color: white;
    font-style: italic;
    font-size: 18px;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding-bottom: 30px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
}

.box__footer a {
    text-decoration: none;
    font-size: 20px;
    font-family: italic;
    color: white;
    padding: auto;
    margin: auto;
}