@import "_commons";
@import "_nav";
@import "_superior";
@import"_botoneraa";
@import"_botonerab";
@import"_container";
@import "_footer1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: black;
    font-size: 25px;
}

h4 {
    font-style: italic;
    font-size: 30px;
    text-align: center;
    color: rgb(107, 6, 110);
    text-align: center;
}

.imagenlocal {
    width: $widthcontainer;
    height: 95vh;
    padding: auto;
}